*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;

}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius:20px;
    padding: 30px;
}h1{
    font-size: 25px;
    color: #00122e;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
h2{
    font-size:18px ;
    color: #00122e;
    font-weight: 600;
    
}
.btn{
background-color: aliceblue;
color: #222;
font-weight: 500;
width: 100%;
border:1px solid #222;
padding: 10px;
margin: 10px 0;
text-align: left;
border-radius: 5px;
cursor: pointer;
transition: all 0.4s;
}
.btn:hover:not([disabled]){
    background-color: #0042ad ;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next{
    background-color: #000a64;
    color: wheat;
    font-weight: 500;
    width: 120px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 16px;
    cursor: pointer;
    display: none;/*block*/

}
.correct{
    background-color: rgb(87, 255, 137);
}
.incorrect{
    background-color: #ff9393;
}