* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    color: darkblue;
    text-transform: uppercase;
}

.navg a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: darkblue;
    text-transform: uppercase;
    padding-left: 32px;
}

.navg a:hover {
    color: rgb(132, 0, 255);
}

.navg {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 100px 200px;
}

.main {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    background: url(https://img.freepik.com/premium-vector/modern-abstract-background-design-with-diagonal-gradient-dark-blue-line-pattern-template-digital_1176274-2342.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imga img {
    width: 65%;
 position: relative;
left:50%;
bottom: 1px;

}

.main h2 {
    padding:20px ;
    color: aliceblue;
    font-size: 22.5px;
    font-weight:500 ;
    letter-spacing: 1px;
    position: relative;
    right:19px;
}
.main h2 span{
    display:inline-block;
    font-size: 32px;
    font-weight: 700;
    margin-top: 16.6px;
color:hsl(249, 100%, 64%);
position: relative;
left:15px;
}
.main h3{
color:rgb(28, 115, 255);
    /* color:aliceblue; */
    font-size: 27px ;
    font-weight: 700;
    letter-spacing: 1px ;
    /* margin-top: 10px ; */
    margin-bottom: 30px;


}
.btn{
    color:rgb(234, 234, 234);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
   background-color: rgb(39, 67, 255);
padding: 14px 23px;
border-radius: 13px;
margin-bottom: 40px;

}
.btn:hover{
   background-color:  rgb(0, 34, 255); 
   font-size: 21px;
    font-weight: 50 0;
padding: 15.5px 24.5px;
transition: .27s;
}
.icons{
    
    font-size: 30px ;
}
a i{
    color:aliceblue;
    padding-right:20px;
}
a i:hover{
    color:blueviolet;
    transform: scale(1.1);
    transition: .15s;
}
.dash{
    transform: scale(1.3);
    position: absolute;
    top:180px;
    left:290px; 
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    color:darkblue;
    font-size: 2.2em ;
    font-weight: 700;
    margin-bottom: 34px;
   text-shadow: 0 0 3px rgb(0, 30, 255);
}
.content{
    /* background-color: rgba(255, 72, 72, 0.087); */
    display: flex;
    justify-content: center;
flex-direction: row;
flex-wrap: wrap;
align-items: center;

}.serv .back i { 
    width:7%;
    position: absolute;
    right:0;
    bottom: 0;
    color:aquamarine;
    z-index: 1111;
}
.card{
    background-color:rgba(107, 107, 255, 0.105) ;
    width:300px;
    box-shadow: 0 0 25px gray;
    padding: 29px 33px;
 margin:8.5px;
 border-radius: 17px;
}
.card:hover{
    transform: scale(1.08);
    transition: .4s;
}
.icon i{
    color:rgb(0, 0, 223);
    font-size: 96px;

}
.content{text-align: center;}
 .der i{
margin-bottom: 30px;
}
.der h2 {
margin-bottom: 23px;
}
.edi i{
margin-bottom: 20px;

}
.edi h2{
    margin-bottom: 15px;
} 
.ser i{
    margin-bottom: 8px;
}
.ser h2{
margin-bottom: 9px;
}
.projects{
    background:linear-gradient(to bottom ,rgb(0, 0, 61),darkblue , rgb(0, 0, 147)) ;
}
.projects .content{

margin-top:30px;
}
.pcard{
    background-color: aliceblue;
border:1px solid gray;
min-height: 11.8em;
width:13em;
overflow: hidden;
border-radius: 11px;
margin:16px;
transition: .4s;
}
.pcard:hover{
    transform: scale(1.1);
}
.pcard:hover .ima{
   opacity: .935;
}
.ima img{
width:100%;    
}
.pinfo{
    padding: 8px;
    text-transform: capitalize;
}
.pinfo p{
    padding-bottom: 6px;
    font-size:11px;
    letter-spacing: 1px;
}
.pinfo h3{
    font-size:16px;
    letter-spacing: .8px;

}
.projects .content{
    background: url(stars1.png);
    height: 100vh;
    width:100%;
}
.projects .title{
    color:aliceblue;
   text-shadow: 0 0 6px gray;

}
.projects .content{
    width:100%;
} 
.ur{
    display: flex;
    justify-content: space-between;
}
.ur a{
    text-decoration: none;
    color:blue
}
.ur a:hover{
    color:blueviolet;
    transform: scale(1.03);
} 
.info h2{
    text-transform: capitalize;
}
.info p{
    font-size: 18px;
}
.foot{
    /* height: 50px; */
    background-color: black;
    color:aliceblue;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.foot p{
    margin-left: 40px;
    font-size: larger;
}
.foot .icons{
    margin-right: 10px;

}
.foot p span{
    color:rgb(57, 57, 255);}
.ur button{
    border: none;
    border-radius: 10px;
    padding:5px 10px;
    background-color: rgba(75, 75, 75, 0.301)
}
.ur button a{
    color:rgb(0, 0, 0);
}
.ur h3{
    margin-left: 9px;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navg a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    
    }


}
/* @media (min-width:800px) and (max-width:1024px){

    .maine .dash{
    position: absolute;
    bottom: 20%;

    }
    .imga img{
        /* display: none; 
    }
    .dash{
        transform: scale(1.5);
    }
} */
@media (max-width:770px){
.imga img{
        position: absolute;
    left: 20%;
}
}
/* 641 */
@media (max-width:641px){
    body{
        font-size: 12px;
       
    }
     header{
    width:fit-content
 }
    .main h2{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 1.4em;
    }  
       /* .content{ */
        /* margin-right:15% ;  */
        /* overflow: hidden; */
    /* }  */
     .foot p{
    margin-right: 5%;
    padding: 5%;
        /* overflow: hidden; */

 }
 .dash{
    position: absolute;
    left: 20%;
    top: 12%;
 } 
 .imga img{
    
    position: absolute;
    left: 20%;
} 
 .main{
           flex-direction: column;
        align-items: center;
    
 }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }

/* .projects{
    display: flex;
    flex-wrap: nowrap;
} */

}